@import "variables";
 
//Mobile First//

.site-header {
}

.logo {
  	
}

.title {
	font-family: $title-font;
	color: $dark-blue;
	font-size: 10vw;
    font-weight: bolder;
    margin:0;
    text-align: center;
    @media only screen and (min-width: $tweak-small) {
    font-size: 8vw;
  }
   	@media only screen and (min-width: $break-medium) {
   	font-size: 7vw;
  }
  	@media only screen and (min-width: $break-large) {
   	font-size: 5vw;
  }
}

.sub-title {
	font-family: $heading-font;
	color: $light-blue;
	font-size: 7.5vw;
    font-weight: lighter;
    margin:0;
    text-align: center;
    @media only screen and (min-width: $tweak-small) {
    font-size: 6vw;
  }
    @media only screen and (min-width: $break-medium) {
   	font-size: 5vw;
   }
   @media only screen and (min-width: $break-large) {
   	font-size: 4vw;
   }
  	
}

.nav {
	
	font-family: $heading-font;
	background-color: $grey;
	margin: 2vw 0 0 0;
	
	a {
		color: $dark-blue;
		text-align: center;
		
	}
}

.nav-item {
	font-size: 5.5vw;
	font-family: $heading-font;
	
	@media only screen and (min-width: $break-medium) {
   	font-size: 5vw;
  }
  	@media only screen and (min-width: $break-large) {
   	font-size: 3.4vw;
  }
}

.row {
  text-align: center;

  .search {
  text-align: left;
  }

}
