@import url(https://fonts.googleapis.com/css?family=Just+Another+Hand|Handlee|Open+Sans);

/* TYPOGRAPHY */

$title-font: 'Handlee', cursive;
$heading-font: 'Just Another Hand', cursive;
$body-text: 'Open Sans', sans-serif;

/* COLOURS */

$dark-blue: #003980;
$light-blue: #3347ff;
$grey: #f3f5f6;

/* LAYOUT */

/* BREAKPOINTS */

$break-medium: 800px;
$break-large: 1024px;

