@import url(https://fonts.googleapis.com/css?family=Just+Another+Hand|Handlee|Source+Sans+Pro);

/* TYPOGRAPHY */

$title-font: 'Handlee', cursive;
$heading-font: 'Just Another Hand', cursive;
$body-text: 'Source Sans Pro', serif;

/* COLOURS */

$dark-blue: #003980;
$light-blue: #3347ff;
$grey: #f3f5f6;

/* LAYOUT */

/* BREAKPOINTS */

$break-medium: 800px;
$break-large: 1024px;

