@import url(https://fonts.googleapis.com/css?family=Just+Another+Hand|Handlee|Open+Sans);

/* TYPOGRAPHY */

$title-font: 'Handlee', cursive;
$heading-font: 'Just Another Hand', cursive;

@mixin body-text {
	font-family: 'Open Sans', sans-serif;
	font-size: 0.9rem;
	color: $dark-blue;
	@media only screen and (min-width: $break-large) {
   	font-size: 1.1rem;
   	}
} 

/* COLOURS */

$dark-blue: #003980;
$light-blue: #3347ff;
$grey: #f3f5f6;

/* BREAKPOINTS */

$break-medium: 800px;
$break-large: 1024px;
$tweak-small: 640px;

